<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ahorcado</title>
</head>
<body>
	<h1>Adivina la palabra secreta</h1>
	<form action="/adivinar" method="POST">
        <input type="text" name='palabra'>
        <input type="submit" value="adivinar">
    </form>
    <h1> <%= session[:feedback] %> </h1>
</body>
</html>